.account {
    display: flex;
    align-items: center;
    gap: 24px;

    @include tablet {
        gap: 12px;
    }
    
    a {
        display: inline-block;
    transition: all .2s ease-in;
    }

    a:hover {
        background: var(--neutral-grayededed);
    }
}

.account__search {
    @include mobile {
        display: none;
    }
}

.account__menu {
    display: none;
    width: 24px;
    height: 24px;

    @include mobile {
        display: block;
    }
}
