.bestsellers {

}

.bestsellers__title-wrapper {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile {
        margin-bottom: 8px;
    }
}

.bestsellers__link {
    @include mobile {
        display: none;
    }
}
