.btn,
a.btn {
    display: inline-block;
    padding: 8px;
    min-width: 184px;
    height: 40px;

    background: var(--white);

    font-family: var(--font-main);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-transform: capitalize;
    text-align: center;
    color: var(--black);

    &--small {
        min-width: unset;
        padding-left: 15px;
        padding-right: 15px;
    }
}
