.footer {
	margin-top: 88px;
	background-color: #000;
	padding: 24px 0;
	color: #fff;

	font-family: var(--font-main);
	font-weight: 400;
	font-size: 12px;
	line-height: 180%;
	text-transform: capitalize;
	color: var(--neutral-graycbcbcb);
}
