.top-info {
    padding: 8px 0 7px 0;
    background: var(--primary-primary-600);

    font-family: var(--font-main);
    font-weight: 600;
    font-size: 12px;
    letter-spacing: .07em;
    text-align: center;
    color: var(--white);
}
